# Web Scrapping Assignment-1(page-7)

# 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. 
    It should include house title, location, area, emi and price

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page1=requests.get("https://www.nobroker.in/property/sale/pune/Shivajinagar?searchParam=W3sibGF0IjoxOC41MzE0NDE5LCJsb24iOjczLjg0NDU2MTcsInBsYWNlSWQiOiJDaElKZDFGNEhYbkF3anNSeUQxMHlvRnEyQ0EiLCJwbGFjZU5hbWUiOiJTaGl2YWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d")
page1

In [ ]:
Soup=BeautifulSoup(page1.content)
Soup

In [ ]:
house_title=Soup.find_all("h2",class_="heading-6 font-semi-bold nb__1AShY")
house_title

In [ ]:
House_title=[]  #empty list

for i in house_title:
    House_title.append(i.text.replace("\n",""))
    

House_title

In [ ]:
len(House_title)

In [ ]:
location=Soup.find_all("div",class_="nb__2CMjv")
location

In [ ]:
Location=[]  #empty list

for i in location:
    Location.append(i.text.replace("\n",","))
    
#Location=Location[0::1]
Location

In [ ]:
len(Location)

In [ ]:
area=Soup.find_all("div",class_="nb__3oNyC")
area

In [ ]:
Area=[]  #empty list

for i in area:
    Area.append(i.text.replace("\n",","))
    
#Location=Location[0::1]
Area

In [ ]:
len(Area)

In [ ]:
emi=Soup.find_all("div",class_="nb__2NPHR")
emi

In [ ]:
EMI=[]  #empty list

for i in emi:
    EMI.append(i.text.replace("\n",","))
    
EMI=EMI[2::4]
EMI

In [ ]:
len(EMI)

In [ ]:
Price=[]  #empty list

for i in emi:
    Price.append(i.text.replace("\n",","))
    
Price=Price[3::4]
Price

In [ ]:
len(Price)

In [19]:
import pandas as pd
House_details=pd.DataFrame({})
House_details['House_title']=House_title
House_details['Location']=Location
House_details['Area']=Area
House_details['EMI']=EMI
House_details['Price']=Price
House_details

,House_title,Location,Area,EMI,Price
0,3 BHK Flat For Sale In Sneha Complex In Shi...,"Chaturshringi Rd, Model Colony, Near to Deep ...","1,350 sqft","₹67,631/MonthEstimated EMI","₹1.18 Crores₹8,741 per sq.ft."
1,3 BHK Apartment For Sale In Nilgiri Heights ...,Nilgiri Heights Nilgiri Heights Shivaji housi...,"1,500 sqft",₹1.15 Lacs/MonthEstimated EMI,"₹2 Crores₹13,333 per sq.ft."
2,2 BHK Flat For Sale In Suyog Apartments In S...,"Mitra co operative housing society, lane oppos...",850 sqft,"₹45,851/MonthEstimated EMI","₹80 Lacs₹9,412 per sq.ft."
3,2 BHK Flat For Sale In Sneh Complex In Model...,"1041, Model Colony, Shivajinagar, Pune, Mahara...","1,240 sqft","₹74,508/MonthEstimated EMI","₹1.3 Crores₹10,484 per sq.ft."
4,2 BHK Flat For Sale In Rachana Rainbow Apart...,Rachana Rainbow Apartment,"1,300 sqft",₹1.14 Lacs/MonthEstimated EMI,"₹1.99 Crores₹15,308 per sq.ft."
5,3 BHK Flat For Sale In Colonial Hearth In Sh...,near om super market,"1,350 sqft","₹97,434/MonthEstimated EMI","₹1.7 Crores₹12,593 per sq.ft."
6,2 BHK Flat For Sale In Dongre Apartment In ...,Model Colony near Shree Hanuman Shani Mandir,800 sqft,"₹48,717/MonthEstimated EMI","₹85 Lacs₹10,625 per sq.ft."
7,2 BHK Flat For Sale In Vijay Apartments In S...,"Jhansi Rani Laxmibai Chowk, Near Gandharva Res...","1,138 sqft",₹1.29 Lacs/MonthEstimated EMI,"₹2.25 Crores₹19,772 per sq.ft."
8,1 BHK Flat For Sale In Annapurna Apartment I...,"R. K. Auto Service, Sahasrabuddhe Road, Model ...",612 sqft,"₹44,705/MonthEstimated EMI","₹78 Lacs₹12,745 per sq.ft."
9,1 BHK Apartment For Sale In Maple Aapla Ghar...,"Maple Aapla Ghar Talegaon Talegaon Dhamdhere,...",411 sqft,"₹7,737/MonthEstimated EMI","₹13.5 Lacs₹3,285 per sq.ft."