# Web Scrapping Assignment-1(page-2)

# 5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’.  
    i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page1=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page1

In [ ]:
Soup=BeautifulSoup(page1.content)
Soup

In [ ]:
top_ODI_teams1=Soup.find_all("span",class_="u-hide-phablet")
top_ODI_teams1

In [ ]:
Top_ODI_teams1=[]
for i in top_ODI_teams1:
    if i==10:
        break
        
    Top_ODI_teams1.append(i.text.replace("\n",""))
    
Top_ODI_teams1

In [ ]:
len(Top_ODI_teams1)

In [ ]:
top_ODI_matches=Soup.find_all("td",class_="table-body__cell u-center-text")
top_ODI_matches

In [ ]:
matches=[]  #empty list

for i in top_ODI_matches:
        matches.append(i.text.replace("\n",""))
    
matches1=matches[::2]
matches1.insert(0,17)
matches1
#matches.pop(0)

In [ ]:
matches1

In [ ]:
points=matches[1::2]
points

In [ ]:
points.insert(0,2054)
points

In [ ]:
rating=Soup.find_all("td",class_="table-body__cell u-text-right rating")
rating

In [ ]:
rating1=[]  #empty list

for i in rating:
        rating1.append(i.text.replace("\n",""))
    
#rating1=ratings[::2]
rating1.insert(0,121)
rating1

In [47]:
import pandas as pd
Top_team=pd.DataFrame({})
Top_team['Top_ODI_teams']=Top_ODI_teams1[:10]
Top_team['Matches']=matches1[:10]
Top_team['Points']=points[:10]
Top_team['Rating']=rating1[:10]
Top_team

  Top_ODI_teams Matches Points Rating
0   New Zealand      17   2054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      32  3,624    113
4  South Africa      22  2,267    103
5      Pakistan      27  2,524     93
6    Bangladesh      29  2,639     91
7   West Indies      30  2,523     84
8     Sri Lanka      29  2,303     79
9   Afghanistan      17  1,054     62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:
page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page1

In [ ]:
Soup=BeautifulSoup(page1.content)
Soup

In [ ]:
top_ODI_batsmen1=Soup.find_all("table",class_="table rankings-table")
top_ODI_batsmen1

In [ ]:
#top_ODI_batsmen=Soup.find_all("td",class_="table-body__cell rankings-table__name name")
#top_ODI_batsmen

In [ ]:
Top_ODI_batsmen=[]  #empty list

for i in top_ODI_batsmen1:
    for j in i.find_all("a"):
        Top_ODI_batsmen.append(j.text.replace("\n",""))
    
Top_ODI_batsmen

In [ ]:
Top_ODI_batsmen.pop(0)
Top_ODI_batsmen

In [ ]:
top_ODI_baber=Soup.find("div",class_="rankings-block__banner--nationality")
top_ODI_baber

In [ ]:
a=top_ODI_baber.text.replace("\n","")
a

In [ ]:
top_ODI_batsmen1=Soup.find_all("td",class_="table-body__cell nationality-logo rankings-table__team")
top_ODI_batsmen1

In [ ]:
Top_ODI_nation=[]  #empty list

for i in top_ODI_batsmen1:
    #for j in i.find_all("a"):
    Top_ODI_nation.append(i.text.replace("\n",""))
    
Top_ODI_nation

In [ ]:
Top_ODI_nation.insert(0,a)
Top_ODI_nation

In [ ]:
top_ODI_rating1=Soup.find("td",class_="u-text-left")
top_ODI_rating1

In [ ]:
b=top_ODI_rating1.text.replace("\n","")
b

In [ ]:
top_ODI_rating=Soup.find_all("td",class_="table-body__cell rating")
top_ODI_rating

In [ ]:
Top_ODI_Rating=[]  #empty list

for i in top_ODI_rating:
    #for j in i.find_all("a"):
    Top_ODI_Rating.append(i.text.replace("\n",""))
    
Top_ODI_Rating

In [ ]:
Top_ODI_Rating.insert(0,b)
Top_ODI_Rating

In [46]:
import pandas as pd
batsmen=pd.DataFrame({})
batsmen['Name_of_batsmen']=Top_ODI_batsmen[:10]
batsmen['Team']=Top_ODI_nation[:10]
batsmen['Rating']=Top_ODI_Rating[:10]
batsmen

   Name_of_batsmen                    Team Rating
0       Babar Azam  NZ                        873
1      Virat Kohli                     AUS    844
2     Rohit Sharma                     AFG    813
3      Ross Taylor                     ENG    801
4      Aaron Finch                     BAN    779
5   Jonny Bairstow                      NZ    775
6     David Warner                     IND    762
7  Quinton de Kock                     AUS    758
8        Shai Hope                     BAN    758
9  Kane Williamson                      SA    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page1

In [ ]:
Soup=BeautifulSoup(page1.content)
Soup

In [ ]:
top_ODI_bowler=Soup.find_all("table",class_="table rankings-table")
top_ODI_bowler

In [ ]:
Top_ODI_Bowler=[]  #empty list

for i in top_ODI_bowler:
    for j in i.find_all("a"):
        Top_ODI_Bowler.append(j.text.replace("\n",""))
    
Top_ODI_Bowler

In [ ]:
Top_ODI_Bowler.pop(0)
Top_ODI_Bowler

In [ ]:
top_ODI_team=Soup.find("div",class_="rankings-block__banner--nationality")
top_ODI_team

In [ ]:
a=top_ODI_team.text.replace("\n","")
a

In [ ]:
top_ODI_team1=Soup.find_all("td",class_="table-body__cell u-center-text")
top_ODI_team1

In [ ]:
Top_ODI_Team=[]  #empty list

for i in top_ODI_bowler:
    for j in i.find_all("td"):
        Top_ODI_Team.append(j.text.replace("\n",""))
    
Top_ODI_Team

In [ ]:
Top_ODI_Team1=Top_ODI_Team[1::5]
Top_ODI_Team1

In [ ]:
Top_ODI_nation=Top_ODI_Team[2::5]
Top_ODI_nation

In [ ]:
Top_ODI_rating=Top_ODI_Team[3::5]
Top_ODI_rating

In [45]:
import pandas as pd
Bowler=pd.DataFrame({})
Bowler['Name_of_bowler']=Top_ODI_Team1[:10]
Bowler['Team']=Top_ODI_nation[:10]
Bowler['Rating']=Top_ODI_rating[:10]
Bowler

     Name_of_bowler                    Team Rating
0       Trent Boult  NZ                        737
1    Josh Hazlewood                     AUS    709
2  Mujeeb Ur Rahman                     AFG    708
3      Chris Woakes                     ENG    700
4      Mehedi Hasan                     BAN    692
5        Matt Henry                      NZ    691
6    Jasprit Bumrah                     IND    679
7    Mitchell Starc                     AUS    652
8   Shakib Al Hasan                     BAN    650
9     Kagiso Rabada                      SA    648