# Web Scrapping Assignment-1(page-1)

In [ ]:
#!pip install bs4
#!pip install requests

In [ ]:
#!pip install tabulate

In [ ]:
from bs4 import BeautifulSoup
import requests

# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page1

In [ ]:
Soup=BeautifulSoup(page1.content)
Soup

In [ ]:
 
header=Soup.find_all("h1",class_="firstHeading")
header

In [ ]:
header_tag1=[]  #empty list

for i in header:
    header_tag1.append(i.text)
    
header_tag1

In [ ]:
header=Soup.find_all("h3",class_="vector-menu-heading")
header

In [ ]:
header_tag=[]  #empty list

for i in header:
    header_tag.append(i.text.replace("\n",""))
    

header_tag

In [53]:
import pandas as pd
Header_tags=pd.DataFrame({})
#Header_tags["header_tag"]=header_tag1
Header_tags["header_tag"]=header_tag
Header_tags

           header_tag
0      Personal tools
1          Namespaces
2            Variants
3               Views
4                More
5          Navigation
6          Contribute
7               Tools
8        Print/export
9   In other projects
10          Languages

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [ ]:
#to get permission to access data
page=requests.get("https://www.imdb.com/chart/top/")
page

In [ ]:
#to find webpage content
Soup=BeautifulSoup(page.content)
Soup

In [ ]:
#to find one movie 
name=Soup.find("td",class_="titleColumn")
name

In [ ]:
#to find movie name
name.text

In [ ]:
name.text.replace("\n","")

In [ ]:
#to find all movie name
name=Soup.find_all("td",class_="titleColumn")
name

In [ ]:
Movies_name=[]  #empty list

for i in name:
    Movies_name.append(i.text)
    
Movies_name

In [ ]:
Movies_name=[]  #empty list

for i in name:
    Movies_name.append(i.text.replace("\n",""))
    
Movies_name

In [ ]:
Movies_name=[]  #empty list

for i in name:
    for j in i.find_all("a"):
        Movies_name.append(j.text.replace("\n",""))
    
Movies_name

In [ ]:
year=Soup.find_all("span",class_="secondaryInfo")
year

In [ ]:
Year=[]
for i in year:
        Year.append(i.text)
        
Year

In [ ]:
rating=Soup.find_all("td",class_="ratingColumn imdbRating")
rating

In [ ]:
Rating=[]
for i in rating:
        Rating.append(i.text.replace("\n",""))
        
Rating

In [ ]:
import pandas as pd
Movies=pd.DataFrame({})
Movies['Movies_name']=Movies_name
Movies['Year']=Year
Movies['Rating']=Rating

In [ ]:
Movies

In [54]:
Movies=pd.DataFrame({})
Movies['Movies_name']=Movies_name[:100]
Movies['Year']=Year[:100]
Movies['Rating']=Rating[:100]
Movies.reset_index(drop=True,inplace=True)
Movies.index+=1
print(Movies.to_markdown())

|     | Movies_name                       | Year   |   Rating |
|----:|:----------------------------------|:-------|---------:|
|   1 | Nayakan                           | (1987) |      8.5 |
|   2 | Anbe Sivam                        | (2003) |      8.5 |
|   3 | Pariyerum Perumal                 | (2018) |      8.5 |
|   4 | Golmaal                           | (1979) |      8.5 |
|   5 | C/o Kancharapalem                 | (2018) |      8.5 |
|   6 | Apur Sansar                       | (1959) |      8.5 |
|   7 | Manichitrathazhu                  | (1993) |      8.5 |
|   8 | Kireedam                          | (1989) |      8.5 |
|   9 | Natsamrat                         | (2016) |      8.4 |
|  10 | Pather Panchali                   | (1955) |      8.4 |
|  11 | 96                                | (2018) |      8.4 |
|  12 | Thevar Magan                      | (1992) |      8.4 |
|  13 | Black Friday                      | (2004) |      8.4 |
|  14 | Kumbalangi Nights                 | (2019) |      8.4 |
|  15 | Visaaranai                        | (2015) |      8.4 |
|  16 | 3 Idiots                          | (2009) |      8.4 |
|  17 | Soorarai Pottru                   | (2020) |      8.3 |
|  18 | Jersey                            | (2019) |      8.3 |
|  19 | Taare Zameen Par                  | (2007) |      8.3 |
|  20 | Drishyam 2                        | (2021) |      8.3 |
|  21 | Asuran                            | (2019) |      8.3 |
|  22 | Thalapathi                        | (1991) |      8.3 |
|  23 | Kaithi                            | (2019) |      8.3 |
|  24 | Dangal                            | (2016) |      8.3 |
|  25 | Sarpatta Parambarai               | (2021) |      8.3 |
|  26 | Devasuram                         | (1993) |      8.3 |
|  27 | Ratsasan                          | (2018) |      8.3 |
|  28 | Aparajito                         | (1956) |      8.3 |
|  29 | Jaane Bhi Do Yaaro                | (1983) |      8.3 |
|  30 | Pyaasa                            | (1957) |      8.3 |
|  31 | Peranbu                           | (2018) |      8.3 |
|  32 | Vada Chennai                      | (2018) |      8.3 |
|  33 | Guide                             | (1965) |      8.3 |
|  34 | Thani Oruvan                      | (2015) |      8.3 |
|  35 | Kannathil Muthamittal             | (2002) |      8.2 |
|  36 | Chupke Chupke                     | (1975) |      8.2 |
|  37 | Iruvar                            | (1997) |      8.2 |
|  38 | Spadikam                          | (1995) |      8.2 |
|  39 | Agent Sai Srinivasa Athreya       | (2019) |      8.2 |
|  40 | Super Deluxe                      | (2019) |      8.2 |
|  41 | Mahanati                          | (2018) |      8.2 |
|  42 | Aruvi                             | (2016) |      8.2 |
|  43 | Drishyam                          | (2013) |      8.2 |
|  44 | Khosla Ka Ghosla!                 | (2006) |      8.2 |
|  45 | Pudhu Pettai                      | (2006) |      8.2 |
|  46 | Shershaah                         | (2021) |      8.2 |
|  47 | Vikram Vedha                      | (2017) |      8.2 |
|  48 | Tumbbad                           | (2018) |      8.2 |
|  49 | Premam                            | (2015) |      8.2 |
|  50 | Anniyan                           | (2005) |      8.2 |
|  51 | Bangalore Days                    | (2014) |      8.2 |
|  52 | Mudhalvan                         | (1999) |      8.2 |
|  53 | Kaakkaa Muttai                    | (2014) |      8.2 |
|  54 | Anand                             | (1971) |      8.2 |
|  55 | Satya                             | (1998) |      8.2 |
|  56 | Andhadhun                         | (2018) |      8.2 |
|  57 | Papanasam                         | (2015) |      8.2 |
|  58 | Dhuruvangal Pathinaaru            | (2016) |      8.2 |
|  59 | Soodhu Kavvum                     | (2013) |      8.2 |
|  60 | Shahid                            | (2012) |      8.2 |
|  61 | Jigarthanda                       | (2014) |      8.1 |
|  62 | Pithamagan                        | (2003) |      8.1 |
|  63 | Gangs of Wasseypur                | (2012) |      8.1 |
|  64 | Paan Singh Tomar                  | (2012) |      8.1 |
|  65 | Bhaag Milkha Bhaag                | (2013) |      8.1 |
|  66 | Hera Pheri                        | (2000) |      8.1 |
|  67 | Sairat                            | (2016) |      8.1 |
|  68 | Sholay                            | (1975) |      8.1 |
|  69 | Swades: We, the People            | (2004) |      8.1 |
|  70 | Talvar                            | (2015) |      8.1 |
|  71 | Chak De! India                    | (2007) |      8.1 |
|  72 | #Home                             | (2021) |      8.1 |
|  73 | Maheshinte Prathikaaram           | (2016) |      8.1 |
|  74 | Ustad Hotel                       | (2012) |      8.1 |
|  75 | Black                             | (2005) |      8.1 |
|  76 | Zindagi Na Milegi Dobara          | (2011) |      8.1 |
|  77 | Mughal-E-Azam                     | (1960) |      8.1 |
|  78 | Jo Jeeta Wohi Sikandar            | (1992) |      8.1 |
|  79 | Drishyam                          | (2015) |      8.1 |
|  80 | Nil Battey Sannata                | (2015) |      8.1 |
|  81 | Theeran adhigaaram ondru          | (2017) |      8.1 |
|  82 | Udaan                             | (2010) |      8.1 |
|  83 | Article 15                        | (2019) |      8.1 |
|  84 | Charulata                         | (1964) |      8.1 |
|  85 | A Wednesday                       | (2008) |      8.1 |
|  86 | Chhichhore                        | (2019) |      8.1 |
|  87 | Masaan                            | (2015) |      8.1 |
|  88 | Baasha                            | (1995) |      8.1 |
|  89 | Munna Bhai M.B.B.S.               | (2003) |      8.1 |
|  90 | Alai Payuthey                     | (2000) |      8.1 |
|  91 | Queen                             | (2013) |      8.1 |
|  92 | Sarfarosh                         | (1999) |      8.1 |
|  93 | Dil Chahta Hai                    | (2001) |      8.1 |
|  94 | OMG: Oh My God!                   | (2012) |      8.1 |
|  95 | Virumandi                         | (2004) |      8.1 |
|  96 | Roja                              | (1992) |      8.1 |
|  97 | Rang De Basanti                   | (2006) |      8.1 |
|  98 | Uri: The Surgical Strike          | (2019) |      8.1 |
|  99 | Lagaan: Once Upon a Time in India | (2001) |      8.1 |
| 100 | Andaz Apna Apna                   | (1994) |      8.1 |

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [ ]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [ ]:
#to find webpage content
Soup=BeautifulSoup(page.content)
Soup

In [ ]:
name=Soup.find_all("td",class_="titleColumn")
name

In [ ]:
Movies_name=[]  #empty list

for i in name:
    Movies_name.append(i.text.replace("\n",""))
    
Movies_name

In [ ]:
Movies_name=[]  #empty list

for i in name:
    for j in i.find_all("a"):
        Movies_name.append(j.text.replace("\n",""))
    
Movies_name

In [ ]:
rating=Soup.find_all("td",class_="ratingColumn imdbRating")
rating

In [ ]:
Rating=[]
for i in rating:
        Rating.append(i.text.replace("\n",""))
        
Rating

In [ ]:
year=Soup.find_all("span",class_="secondaryInfo")
year

In [ ]:
Year=[]
for i in year:
        Year.append(i.text)
        
Year

In [55]:
Movies=pd.DataFrame({})
Movies['Indian_Movies_name']=Movies_name[:100]
Movies['Year']=Year[:100]
Movies['Rating']=Rating[:100]
Movies.reset_index(drop=True,inplace=True)
Movies.index+=1
print(Movies.to_markdown())

|     | Indian_Movies_name                | Year   |   Rating |
|----:|:----------------------------------|:-------|---------:|
|   1 | Nayakan                           | (1987) |      8.5 |
|   2 | Anbe Sivam                        | (2003) |      8.5 |
|   3 | Pariyerum Perumal                 | (2018) |      8.5 |
|   4 | Golmaal                           | (1979) |      8.5 |
|   5 | C/o Kancharapalem                 | (2018) |      8.5 |
|   6 | Apur Sansar                       | (1959) |      8.5 |
|   7 | Manichitrathazhu                  | (1993) |      8.5 |
|   8 | Kireedam                          | (1989) |      8.5 |
|   9 | Natsamrat                         | (2016) |      8.4 |
|  10 | Pather Panchali                   | (1955) |      8.4 |
|  11 | 96                                | (2018) |      8.4 |
|  12 | Thevar Magan                      | (1992) |      8.4 |
|  13 | Black Friday                      | (2004) |      8.4 |
|  14 | Kumbalangi Nights                 | (2019) |      8.4 |
|  15 | Visaaranai                        | (2015) |      8.4 |
|  16 | 3 Idiots                          | (2009) |      8.4 |
|  17 | Soorarai Pottru                   | (2020) |      8.3 |
|  18 | Jersey                            | (2019) |      8.3 |
|  19 | Taare Zameen Par                  | (2007) |      8.3 |
|  20 | Drishyam 2                        | (2021) |      8.3 |
|  21 | Asuran                            | (2019) |      8.3 |
|  22 | Thalapathi                        | (1991) |      8.3 |
|  23 | Kaithi                            | (2019) |      8.3 |
|  24 | Dangal                            | (2016) |      8.3 |
|  25 | Sarpatta Parambarai               | (2021) |      8.3 |
|  26 | Devasuram                         | (1993) |      8.3 |
|  27 | Ratsasan                          | (2018) |      8.3 |
|  28 | Aparajito                         | (1956) |      8.3 |
|  29 | Jaane Bhi Do Yaaro                | (1983) |      8.3 |
|  30 | Pyaasa                            | (1957) |      8.3 |
|  31 | Peranbu                           | (2018) |      8.3 |
|  32 | Vada Chennai                      | (2018) |      8.3 |
|  33 | Guide                             | (1965) |      8.3 |
|  34 | Thani Oruvan                      | (2015) |      8.3 |
|  35 | Kannathil Muthamittal             | (2002) |      8.2 |
|  36 | Chupke Chupke                     | (1975) |      8.2 |
|  37 | Iruvar                            | (1997) |      8.2 |
|  38 | Spadikam                          | (1995) |      8.2 |
|  39 | Agent Sai Srinivasa Athreya       | (2019) |      8.2 |
|  40 | Super Deluxe                      | (2019) |      8.2 |
|  41 | Mahanati                          | (2018) |      8.2 |
|  42 | Aruvi                             | (2016) |      8.2 |
|  43 | Drishyam                          | (2013) |      8.2 |
|  44 | Khosla Ka Ghosla!                 | (2006) |      8.2 |
|  45 | Pudhu Pettai                      | (2006) |      8.2 |
|  46 | Shershaah                         | (2021) |      8.2 |
|  47 | Vikram Vedha                      | (2017) |      8.2 |
|  48 | Tumbbad                           | (2018) |      8.2 |
|  49 | Premam                            | (2015) |      8.2 |
|  50 | Anniyan                           | (2005) |      8.2 |
|  51 | Bangalore Days                    | (2014) |      8.2 |
|  52 | Mudhalvan                         | (1999) |      8.2 |
|  53 | Kaakkaa Muttai                    | (2014) |      8.2 |
|  54 | Anand                             | (1971) |      8.2 |
|  55 | Satya                             | (1998) |      8.2 |
|  56 | Andhadhun                         | (2018) |      8.2 |
|  57 | Papanasam                         | (2015) |      8.2 |
|  58 | Dhuruvangal Pathinaaru            | (2016) |      8.2 |
|  59 | Soodhu Kavvum                     | (2013) |      8.2 |
|  60 | Shahid                            | (2012) |      8.2 |
|  61 | Jigarthanda                       | (2014) |      8.1 |
|  62 | Pithamagan                        | (2003) |      8.1 |
|  63 | Gangs of Wasseypur                | (2012) |      8.1 |
|  64 | Paan Singh Tomar                  | (2012) |      8.1 |
|  65 | Bhaag Milkha Bhaag                | (2013) |      8.1 |
|  66 | Hera Pheri                        | (2000) |      8.1 |
|  67 | Sairat                            | (2016) |      8.1 |
|  68 | Sholay                            | (1975) |      8.1 |
|  69 | Swades: We, the People            | (2004) |      8.1 |
|  70 | Talvar                            | (2015) |      8.1 |
|  71 | Chak De! India                    | (2007) |      8.1 |
|  72 | #Home                             | (2021) |      8.1 |
|  73 | Maheshinte Prathikaaram           | (2016) |      8.1 |
|  74 | Ustad Hotel                       | (2012) |      8.1 |
|  75 | Black                             | (2005) |      8.1 |
|  76 | Zindagi Na Milegi Dobara          | (2011) |      8.1 |
|  77 | Mughal-E-Azam                     | (1960) |      8.1 |
|  78 | Jo Jeeta Wohi Sikandar            | (1992) |      8.1 |
|  79 | Drishyam                          | (2015) |      8.1 |
|  80 | Nil Battey Sannata                | (2015) |      8.1 |
|  81 | Theeran adhigaaram ondru          | (2017) |      8.1 |
|  82 | Udaan                             | (2010) |      8.1 |
|  83 | Article 15                        | (2019) |      8.1 |
|  84 | Charulata                         | (1964) |      8.1 |
|  85 | A Wednesday                       | (2008) |      8.1 |
|  86 | Chhichhore                        | (2019) |      8.1 |
|  87 | Masaan                            | (2015) |      8.1 |
|  88 | Baasha                            | (1995) |      8.1 |
|  89 | Munna Bhai M.B.B.S.               | (2003) |      8.1 |
|  90 | Alai Payuthey                     | (2000) |      8.1 |
|  91 | Queen                             | (2013) |      8.1 |
|  92 | Sarfarosh                         | (1999) |      8.1 |
|  93 | Dil Chahta Hai                    | (2001) |      8.1 |
|  94 | OMG: Oh My God!                   | (2012) |      8.1 |
|  95 | Virumandi                         | (2004) |      8.1 |
|  96 | Roja                              | (1992) |      8.1 |
|  97 | Rang De Basanti                   | (2006) |      8.1 |
|  98 | Uri: The Surgical Strike          | (2019) |      8.1 |
|  99 | Lagaan: Once Upon a Time in India | (2001) |      8.1 |
| 100 | Andaz Apna Apna                   | (1994) |      8.1 |

# 4.Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [ ]:
page=requests.get("https://bookpage.com/reviews")
page

In [ ]:
#to find webpage content
Soup=BeautifulSoup(page.content)
Soup

In [ ]:
book_name=Soup.find_all("h4",class_="italic")
book_name

In [ ]:
Book_name=[]
for i in book_name:
        Book_name.append(i.text.replace("\n",""))
        
Book_name

In [ ]:
len(Book_name)

In [ ]:
author_name=Soup.find_all("p",class_="sans bold")
author_name

In [ ]:
Author_name=[]
for i in author_name:
    Author_name.append(i.text.replace("\n",""))
    
Author_name

In [ ]:
len(Author_name)

In [ ]:
genre=Soup.find_all("p",class_="genre-links hidden-phone")
genre

In [ ]:
Genre=[]
for i in genre:
    Genre.append(i.text.replace("\n",""))
    
Genre

In [ ]:
len(Genre)

In [ ]:
review=Soup.find_all("p",class_="excerpt")
review

In [ ]:
Review=[]
for i in review:
    Review.append(i.text.replace("\n",""))
    
Review

In [ ]:
len(Review)

In [56]:
Book_data=pd.DataFrame({})
Book_data['Book_name']=Book_name[:5]
Book_data['Author_name']=Author_name[:5]
Book_data['Genre']=Genre[:5]
Book_data['Review']=Review[:5]
Book_data

,Book_name,Author_name,Genre,Review
0,★ Fallout,Steve Sheinkin,Children's / Middle Grade,
1,Seeing Ghosts,Kat Chow,Nonfiction / Memoir / Family & Relationships,"Like the experience of grief itself, Kat Chow’..."
2,Hero of Two Worlds,Mike Duncan,Nonfiction / History / American History,"Mike Duncan’s insightful, impressive biography..."
3,★ The Maidens,"Alex Michaelides, Louise Brealey, Kobna Holdbr...",Audio / Mystery & Suspense / Suspense,Actors Louise Brealey and Kobna Holdbrook-Smit...
4,The Guide,Peter Heller,Fiction / Speculative Fiction / Thriller,The Guide is a glorious getaway in every sense...