# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
 i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:
from bs4 import BeautifulSoup
import requests
page1=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
Soup=BeautifulSoup(page1.content)
top_ODI_teams=Soup.find_all("span",class_="u-hide-phablet")
#top_ODI_teams
Top_ODI_teams=[]
for i in top_ODI_teams:
         
    Top_ODI_teams.append(i.text.replace("\n",""))
    
#Top_ODI_teams=Top_ODI_teams[:10]
Top_ODI_teams=Top_ODI_teams[:10]

Top_ODI_teams

In [ ]:
top_ODI_matches=Soup.find_all("td",class_="table-body__cell u-center-text")
#top_ODI_matches
matches=[]  #empty list

for i in top_ODI_matches:
        matches.append(i.text.replace("\n",""))
    
matches1=matches[::2]
matches1.insert(0,18)
matches1

In [ ]:
points=matches[1::2]
points.insert(0,2955)
points

In [ ]:
rating=Soup.find_all("td",class_="table-body__cell u-text-right rating")
#rating
rating1=[]  #empty list

for i in rating:
        rating1.append(i.text.replace("\n",""))
    
rating=rating[::2]
rating1.insert(0,164)
rating1

In [33]:
import pandas as pd
Top_Women_team=pd.DataFrame({})
Top_Women_team['Top_Women_teams']=Top_ODI_teams[:10]
Top_Women_team['Matches']=matches1[:10]
Top_Women_team['Points']=points[:10]
Top_Women_team['Rating']=rating1[:10]

Top_Women_team.reset_index(drop=True,inplace=True)
Top_Women_team.index+=1
print(Top_Women_team.to_markdown())

|    | Top_Women_teams   |   Matches | Points   |   Rating |
|---:|:------------------|----------:|:---------|---------:|
|  1 | Australia         |        18 | 2955     |      762 |
|  2 | England           |        20 | 2,370    |      758 |
|  3 | South Africa      |        24 | 2,828    |      756 |
|  4 | India             |        23 | 2,535    |      754 |
|  5 | New Zealand       |        21 | 1,947    |      736 |
|  6 | West Indies       |        17 | 1,427    |      723 |
|  7 | Pakistan          |        20 | 1,496    |      715 |
|  8 | Bangladesh        |         5 | 306      |      706 |
|  9 | Sri Lanka         |        11 | 519      |      701 |
| 10 | Ireland           |         2 | 25       |      683 |

# ii) Top 10 women’s ODI players along with the records of their team and rating.


Women’s ODI Batting Rankings

In [ ]:
from bs4 import BeautifulSoup
import requests
page1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
Soup=BeautifulSoup(page1.content)
bat_player=Soup.find_all("td",class_="table-body__cell name")
#top_ODI_teams
Bat_player=[]
for i in bat_player:
         
    Bat_player.append(i.text.replace("\n",""))
    
#Top_ODI_teams=Top_ODI_teams[:10]
Bat_player=Bat_player[:9]

Bat_player.insert(0,'Mithali Raj')
Bat_player

In [ ]:
team=Soup.find_all("span",class_="table-body__logo-text")
#top_ODI_matches
Team=[]  #empty list

for i in team:
        Team.append(i.text.replace("\n",""))
    
Team=Team[:9]
Team.insert(0,'IND')
Team

In [ ]:
rating=Soup.find_all("td",class_="table-body__cell u-text-right rating")
#rating
rating1=[]  #empty list

for i in rating:
        rating1.append(i.text.replace("\n",""))
    
rating1=rating1[:9]
rating1.insert(0,762)
rating1

In [32]:
import pandas as pd
Top_Women_player=pd.DataFrame({})
Top_Women_player['Top_Women_Player']=Bat_player[:10]
Top_Women_player['Team']=Team[:10]
Top_Women_player['Rating']=rating1[:10]

Top_Women_player.reset_index(drop=True,inplace=True)
Top_Women_player.index+=1
print(Top_Women_player.to_markdown())

|    | Top_Women_Player   | Team   |   Rating |
|---:|:-------------------|:-------|---------:|
|  1 | Mithali Raj        | SA     |      762 |
|  2 | Lizelle Lee        | SA     |      758 |
|  3 | Alyssa Healy       | AUS    |      756 |
|  4 | Tammy Beaumont     | ENG    |      754 |
|  5 | Stafanie Taylor    | WI     |      736 |
|  6 | Meg Lanning        | AUS    |      723 |
|  7 | Amy Satterthwaite  | NZ     |      715 |
|  8 | Natalie Sciver     | ENG    |      706 |
|  9 | Smriti Mandhana    | IND    |      701 |
| 10 | Laura Wolvaardt    | SA     |      683 |

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [30]:
from bs4 import BeautifulSoup
import requests
page3=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
Soup2=BeautifulSoup(page3.content)
rounder_player=Soup2.find_all("td",class_="table-body__cell rankings-table__name name")
#rounder_player

All_rounder_player=[]
for i in rounder_player:
         
    All_rounder_player.append(i.text.replace("\n",""))
    
#Top_ODI_teams=Top_ODI_teams[:10]
All_rounder_player=All_rounder_player[:9]

All_rounder_player.insert(0,'Marizanne Kapp')
All_rounder_player
team1=Soup2.find_all("span",class_="table-body__logo-text")
#top_ODI_matches
Team1=[]  #empty list

for i in team1:
        Team1.append(i.text.replace("\n",""))
    
Team1=Team1[:9]
Team1.insert(0,'SA')
Team1
rating1=Soup2.find_all("td",class_="table-body__cell rating")
#rating
rating2=[]  #empty list

for i in rating1:
        rating2.append(i.text.replace("\n",""))
    
rating2=rating2[:9]
rating2.insert(0,418)
rating2

import pandas as pd
Top_Women_player=pd.DataFrame({})
Top_Women_player['Top_Women_All_rounder_Player']=All_rounder_player[:10]
Top_Women_player['Team']=Team1[:10]
Top_Women_player['Rating']=rating2[:10]

Top_Women_player.reset_index(drop=True,inplace=True)
Top_Women_player.index+=1
print(Top_Women_player.to_markdown())

|    | Top_Women_All_rounder_Player   | Team   |   Rating |
|---:|:-------------------------------|:-------|---------:|
|  1 | Marizanne Kapp                 | SA     |      418 |
|  2 | Ellyse Perry                   | AUS    |      418 |
|  3 | Stafanie Taylor                | WI     |      394 |
|  4 | Natalie Sciver                 | ENG    |      365 |
|  5 | Deepti Sharma                  | IND    |      331 |
|  6 | Jess Jonassen                  | AUS    |      307 |
|  7 | Ashleigh Gardner               | AUS    |      252 |
|  8 | Dane van Niekerk               | SA     |      243 |
|  9 | Sophie Devine                  | NZ     |      242 |
| 10 | Katherine Brunt                | ENG    |      239 |